/* base colors 0E7c21 241A70 A21C12 A29412/D0C345 F8EDE1  
http://colorschemedesigner.com/#2S62Eueqqw0w0*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
    height:100%;
    padding:0;
}

body {
    top: 0;
    margin: 0;
    padding: 0;
    background-color: #FFE;
	font-family: 'aller_lightregular', Arial;
    height: 100%;
}

.survey-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 5px 15px 5px;
}

.question-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.answer {
    margin-bottom: 5px;
    border-radius: 4px;
}

.question {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff7b1;
}

.container {
    margin: 0;
    width: 100%;
}

.rounded {
    border-radius: 4px;
}

.highlight-orange {
    background-color: orange;
}

.highlight-red {
    background-color: red;
}

.highlight-green {
    background: rgb(28, 184, 65);
}

#header {
    width: 100%;
    font-family: 'aller_displayregular', Arial;
    background-color: #FFE;
	color:  #000;
    box-shadow: 0 3px 14px rgba(50, 50, 50, 0.75);
}

h1{
    font-size: 60pt;
}

#footer {
    width: 100%;
    padding: 15px 20px;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -3px 14px rgba(50, 50, 50, 0.75);
}

#content {
    padding: 25px 15px 40px 20px;
}

/* override some pure-button styles */
.pure-button {
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.pure-button-small {
    font-size: 70%;
}
