/* base colors 0E7c21 241A70 A21C12 A29412/D0C345 F8EDE1  
http://colorschemedesigner.com/#2S62Eueqqw0w0*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    height: 100%;
    padding: 0;
}

body {
    top: 0;
    margin: 0;
    padding: 0;
    background-color: #FAFBF5;
    font-family: 'aller_lightregular', Arial;
    height: 100%;
    width: 100%;
}

b {
    font-weight: bold;
}

h3 {
    font-size: 20pt;
    margin-bottom: 10px;
}

.guru-meditation {
    margin-top: 40px;
}

.guru-meditation-code {
    margin-top: 5px;
    padding: 5px;
    font-family: monospace;
    background-color: #FFEE6A;
}

.container {
    margin: 0 auto;
}

.questions {
    margin-top: 20px;
    text-align: left;
}

.answers {
    display: inline-block;
    margin-bottom: 5px;
    max-width: 400px;
    width: 100%;
}

.survey-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 5px 15px 5px;
}

.survey-info-form {
    margin-bottom: 30px;
}

.question-type {
    margin-top: -10px;
    font-style:italic;
    font-size: 0.9em;
    text-align: right;
}

.question-title {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

.question-text {
    width: 100%;
    max-width: 475px;
    margin-bottom: 8px;
}

.answer-text {
    width: 90%;
    margin-right: 5px !important;
}

.no-wrap {
    display: inline-block !important; /* override a media query in purecss that makes buttons wrap on mobile */
}

.answer {
    padding: 3px;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.question {
    margin-bottom: 20px;
    padding: 10px 30px;
    background-color: #FFEE6A;
}

.rounded {
    border-radius: 0px;
}

.pure-form label {
    font-size: 100%;
}

.pure-form .answers label {
    margin-bottom: 0;
    font-size: 90%;
}

#new-survey-title {
    width: 100%;
    max-width: 500px;
}

.survey-id-input-box {
    margin-top: 8px !important;
}

.highlight-orange {
    background-color: orange;
}

.highlight-red {
    background-color: #FF6949;
}

.highlight-green {
    background: #23CB56;
}

#header {
    padding-left: 20px;
    font-family: 'aller_displayregular', Arial;
    background-color: #42B6DD;
    box-shadow: 0 3px 14px #B3B3AE;
}

#content {
    padding: 40px 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: -60px;
    max-width: 500px;
	min-height: 100%;
}

#content:after {
	content:"";
	display: block;
}

#home-content,
#takesurvey-content,
#results-content,
#admin-content {
    /* some of the pages should be aligned centered (e.g. home) */
    text-align: center
}

#footer, #content:after {
	height: 60px;
}

#footer {

    padding: 10px;
    color: #FAFBF5;
    text-align: center;
	background: #42B6DD;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#footer-nav {
    margin-bottom: 5px;
    display: block;
}

#footer-nav a,
#footer-nav a:hover
#footer-nav a:visited {
    color: #FAFBF5;
}

#copyright {
    display: inline-block;
    margin-top: 2px;
    margin-right: 15px;
}

#header h1 a {
    font-size: 60pt;
    text-decoration: none;
    color: #FFF;
	text-shadow: -2px -2px 0 #7C8D84,
    2px -2px 0 #7C8D84,
    -2px 2px 0 #7C8D84,
    2px 2px 0 #7C8D84;
}


#take-survey-button,
#see-results-button,
#edit-survey-button {
    margin-left: 6px;
}

.dropdown {
    position: inherit;
    margin-top: -1px;
}

.dropdown-menu {
    text-align: left;
    width: 270px;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.disabled a {
    color: grey !important;
    text-decoration: line-through !important;
}

#controls {
    margin-top: 40px;
}

/* override some pure-button styles */
.pure-button {
    border-radius: 0px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.pure-button-success {
    background: #23CB56; /* this is a green */
    color: white;
}

.pure-button-error {
    background: #FF6949; /* this is a maroon */
    color: white;
}

.pure-button-warning {
    background: #FFEB4F; /* this is a yellow*/
    color: black;
}

.pure-button-secondary {
    background: #42B6DD; /* this is a light blue */
    color: white;
}

.pure-button-large {
    font-size: 175%;
}

.pure-button-small {
    font-size: 80%;
}

.pure-button-tiny {
    font-size: 65%;
}


/* more specific button styles */
.remove-question-button {
    text-align: center;
    display: block;
    padding: 2px;
    margin-top: -4px;
    margin-left: -23px;
    height: 20px;
    width: 20px;
}

.remove-question-button i.fa-lg {
    text-align: center;
    vertical-align: super;
    line-height: 15px;
}

.remove-answer-button,
.add-answer-button {
    padding: 2px;
    width: 18px;
    height: 18px;
}
.remove-answer-button {
    /* override */
    vertical-align: -7px;
}

.add-answer-button {
    /* override */
    vertical-align: -6px;
}

/* target Firefox only with this rule - Firefox has some spacing oddities w/ inline-block elements */
@-moz-document url-prefix() {
    .add-answer-button {
        vertical-align: -4px !important;
    }
}

.remove-answer-button i.fa {
    vertical-align: super;
    line-height: 0.9;
}

.add-answer-button i.fa {
    vertical-align: super;
    line-height: 1.2;
}

#take-survey-action-button {
    display: inline-block;
    margin-bottom: 50px;
}

.chart .bar {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    /* override */
    .remove-question-button i.fa-lg {
        vertical-align: super;
        line-height: 0.9;
    }

    /* override */
    .add-answer-button i.fa {
        vertical-align: super;
        line-height: 1.35;
    }

    .answer-text {
        width: 85%;
    }
}

